<b>Winner for </b><br/>
<span class="item-image" style="float:left;margin:15px;display:block;background:#dedede;padding:15px;">
<%=image_tag (@product.image_url.to_s )%></span>

<span style="background:#dedede;padding:15px;display:block;width:500px;margin:15px;height:140px;
-moz-border-radius:6px;
 -webkit-border-radius:6px;
 border-radius:6px;	
 ">
<a class="item-name" href="#"><%=@product.name%></a><br>
</span><br>
is <span style="color:red;"><%=@product.winner%></span>
